<!DOCTYPE html>
<html>
  <head>
    <title>Title</title>
    <%= @pinion.css_url("/css/common.css") %>
    <%= @pinion.js_url("/js/lib/jquery-1.7.2.min.js") %>
    <%= yield_content :head %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
